.ws-navbar-burger {
  color: $white;
  position: absolute;
  right: 0;
  top: 0;

  .ws-navbar-top-level-nav & {
    color: $black;
    right: 15px;
    top: 15px;
  }

  .has-skin-ece & {
    color: $black;
  }

  &.is-active {
    right: 15px;
    top: 15px;
  }
}
