.ws-navbar-menu {
  &.is-active {
    @media (max-width: $tablet-max) {
      background-color: $black;
      font-size: $size-4;
      height: 100%;
      left: 0;
      padding: $block-spacing * 2 $block-spacing;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10;
    }
  }
}

.ws-navbar-menu-toggle {
  border-left: $block-spacing / 4 solid transparent; 
  border-right: $block-spacing / 4 solid transparent; 
  border-top: $block-spacing / 4 solid $white; 
  display: none;
  height: 0; 
  margin-left: $block-spacing / 4;
  width: 0;

  @media (min-width: $desktop) {
    display: inline-block;
  }
}

.ws-navbar-menu-dropdown {
  @media (max-width: $tablet-max) {
    display: block;
  }

  .dropdown-menu {
    @media (max-width: $tablet-max) {
      padding: 0;
      position: static;
      display: block;
    }
  
    .dropdown-content {
      @media (max-width: $tablet-max) {
        background-color: transparent;
        border-radius: 0;
        padding: 0;
      }
    }
  
    .dropdown-item {
      @media (max-width: $tablet-max) {
        color: $white;
        font-size: $size-6;
        padding: $block-spacing / 2 $block-spacing * 1;
      }

      &:hover {
        @media (max-width: $tablet-max) {
          color: $black;
        }
      }
    }
  }

  &:hover {
    .dropdown-menu {
      display: block;
      left: $block-spacing / 2;
      top: 80%;
    }
  }
}
