.ws-navbar-top-level {
  background-color: $ws-primary;
  margin-bottom: $block-spacing * 2;
  position: relative;

  &::after {
    background-color: $white;
    content: ' ';
    height: 35%;
    min-height: 210px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  @media (min-width: $tablet) {
    min-height: 100vh;
  }

  .has-skin-ece & {
    background-color: $ws-primary-ece;
  }

  .hero-body {
    padding-bottom: $block-spacing;
    position: relative;
    z-index: 1;

    @media (min-width: $tablet) {
      padding-left: $block-spacing;
      padding-right: $block-spacing;
    }
  }

  .ws-navbar {
    display: none;

    @media (min-width: $desktop) {
      display: flex;
    }

    .navbar-start {
      display: none;
    }

    .navbar-end {
      margin-left: 0;
    }

    &.is-fixed-top {
      display: flex;

      .navbar-start {
        display: flex;
      }
    }
  }

  .ws-navbar-menu {
    .navbar-item {
      &.is-first {
        @media (min-width: $desktop) {
          padding-left: 0;
        }
      }
    }
  }

  .ws-section-call-to-action {
    padding-top: 0;
  }
}

.ws-navbar-top-level-nav {
  right: 0;
  top: 0;
  width: 100%;

  @media (min-width: $desktop) {
    display: none;
  }
}

.ws-navbar-top-level-canvas {
  margin-left: -$block-spacing;
  margin-right: -$block-spacing;

  @media (min-width: $iphone) {
    margin: $block-spacing 0 $block-spacing $block-spacing;
    position: relative;
  }
}

.ws-navbar-top-level-heading {
  font-size: $size-3;

  @media (min-width: $iphone) {
    font-size: $size-2;
  }

  @media (min-width: $tablet) {
    font-size: $size-1;
  }
}

.ws-navbar-top-level-text {
  font-size: $size-4;

  @media (min-width: $tablet) {
    font-size: $size-2;
  }
}

.ws-navbar-top-level-image {
  background: transparent url('images/hero-ece.jpg') 50% 50% no-repeat;
  background-size: cover;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, .25);
  min-height: 150px;

  @media (min-width: $iphone) {
    min-height: 250px;
  }

  @media (min-width: $tablet) {
    min-height: 350px;
  }
}

.ws-navbar-top-level-image-caption {
  background: $white;
  padding: $block-spacing;

  @media (min-width: $iphone) {
    bottom: -$block-spacing;
    left: -$block-spacing;
    margin-right: $block-spacing;
    max-width: 500px;
    position: absolute;
  }
}
