.button {
  &.is-ws-primary {
    background-color: $ws-primary;
    border-color: $ws-primary;
    font-weight: bold;

    .has-skin-ece & {
      background-color: $ws-primary-ece;
      border-color: $ws-primary-ece;
    }

    &.is-inverted {
      background-color: $white;
      border-color: $white;
      color: $black;

      .has-skin-ece & {
        color: $ws-primary-ece;
      }
    }
  }
  
  &.is-ws-default {
    font-weight: bold;

    .has-skin-ece & {
      border: 0;
      color: $black;
    }

  &.is-outlined {
    background-color: transparent;
    border-color: $black;
    border-width: 2px;
    color: $black;
      
      &.is-inverted {
        background-color: transparent;
        border-color: $white;
        color: $white;
      }
    }
  }  
}
