.ws-call-to-action {
  background-color: $ws-primary;
  color: $black;
  padding: $block-spacing;

  .has-skin-ece & {
    background-color: $ws-primary-ece;
    color: $white;
  }
}

.ws-call-to-action > .container {
  @media (min-width: $tablet) {
    align-items: center;
    display: flex;
  }
}

.ws-call-to-action-title {
  font-size: $size-3;
  font-weight: bold;
  flex-grow: 1;
}

.ws-call-to-action-content {
  color: $black;
  flex-grow: 1;
  font-size: $size-4;

  @media (min-width: $tablet) {
    font-size: $size-3;
  }

  .has-skin-ece & {
    color: $white;
  }

  strong {
    .has-skin-ece & {
      color: $white;
    }
  }
}

.ws-call-to-action-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  @media (min-width: $tablet) {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  .button {
    display: inline-flex;
    margin-top: $gap / 2;

    @media (min-width: $tablet) {
      margin-left: $gap / 2;
      margin-top: 0;
    }
  }
}
