.ws-page-header {
  background: $ws-primary;
  color: $white;
  padding-bottom: $block-spacing * 2;
  padding-top: $block-spacing * 2;

  .has-skin-ece & {
    background-color: $ws-primary-ece;
  }
}

.ws-page-header-title {
  background: $white;
  color: $black;
  display: inline-block;
  font-size: $size-2;
  font-weight: bold;
  padding: $block-spacing;
}
