.ws-brand {
  font-weight: bold;
  line-height: 1;
}

.ws-brand-text-1 {
  color: $black;

  .is-inversed > & {
    color: $ws-primary;

    .has-skin-ece .ws-navbar-brand & {
      color: $black;
    }
  }
}

.ws-brand-text-2 {
  color: $grey;

  .has-skin-ece & {
    color: $ws-primary-ece;
  }

  .has-skin-ece .ws-navbar-brand & {
    color: $white;
  }

  .is-inversed > & {
    color: $white;
  }
}
