body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
              Roboto, Oxygen-Sans, Ubuntu, Cantarell,
              "Helvetica Neue", sans-serif;
}

.content {
  a {
    text-decoration: underline;
  }
}

a[href*="tel"] {
  display: inline-block;

  @media (min-width: $tablet) {
    color: inherit;
    text-decoration: none;
  }
}

.ws-doc-main {
  padding-left: $block-spacing;
  padding-right: $block-spacing;

  @media (min-width: $desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}

.button {
  &.ws-is-primary {
    background-color: $ws-primary;
    color: $ws-black;

    &:hover {
      background-color: $ws-primary;
      background-image: linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,.15));
      color: $ws-black;
    }

    .has-skin-ece & {
      background-color: $ws-primary-ece;

      &:hover {
        background-color: $ws-primary-ece;
      }
    }
  }

  @at-root .content a#{&} {
    text-decoration: none;
  }
}

.ws-has-text-primary {
  color: $ws-primary;

  .has-skin-ece & {
    color: $ws-primary-ece;
  }  
}
