$fullhd-enabled: false;

$ws-black: #191919;
$ws-primary: #f0b344;
$ws-primary-ece: #ed6968;
$ws-primary-retail: #f0b344;

$iphone: 375px;
$mobile-max: 767px;
$tablet: 768px;
$tablet-max: 1023px;

$tabs-link-padding: 1em;
$tabs-border-bottom-color: transparent;
$tabs-border-bottom-width: 2px;
$tabs-link-active-color: $ws-black;
$tabs-link-active-border-bottom-color: $ws-black;
