.ws-navbar {
  &,
  .hero & {
    background-color: $black;
    padding: $block-spacing / 2;

    .has-skin-ece & {
      background-color: $ws-primary-ece;
    }

    &.is-fixed-top {
      .has-skin-ece & {
        background-color: $ws-primary-ece;
      }
    }
  }
}

a.ws-navbar-brand {
  align-items: center;
  display: inline-flex;
  font-size: $size-5;

  &:hover,
  &:focus,
  &:focus-within {
    background-color: transparent;
  }
}

.ws-navbar-brand-text {
  line-height: 1.1;
}

.ws-navbar-logo {
  height: 55px;
  width: 127px;
}

.ws-navbar-item {
  @media (max-width: $tablet-max) {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  &.is-active {
    cursor: default;
    text-decoration: underline;
  }

  &.navbar-item {
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
}
